.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #A78295;
}

h2 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0 #331D2C;
  font-size: 6rem;
  color: #331D2C;
}

p {
  font-size: 2rem;
  color: #331D2C;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
